page-home {

}
agm-map {
    height: 300px;
}


.borders-item{
    border: 3px solid ghostwhite;
}
.solved{
    color: #85e085;
}
.not-solved{
    color:#df5757;
}
.solved-item {
    border-top: 4px solid #85e085;
    
 }
 .not-solved-item {
    border-top: 4px solid #df5757;
    
 }